BODY {
PADDING-RIGHT: 0px;
PADDING-LEFT: 0px;
PADDING-BOTTOM: 0px;
MARGIN: 0px;
PADDING-TOP: 0px;
color : #7F7F7F; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
margin-top : 0; 
margin-bottom : 0; 
margin-left : 0; 
margin-right : 0; 
text-align : justify; 
} 
.szukaj {
border-right : 0 solid #808080; 
border-top : 0 solid #808080; 
padding-left : 4px; 
font-size : 8pt; 
border-left : 0 solid #808080; 
color : #cecece; 
border-bottom : 0 solid #808080; 
font-family : Tahoma, Verdana, Helvetica, sans-serif; 
height : 20px; 
background-color : #4e4e4e; 
} 
.przycisk {
border-right : 1 solid #808080; 
border-top : 1 solid #808080; 
font-size : 8pt; 
border-left : 1 solid #808080; 
width : 120px; 
color : #000000; 
border-bottom : 1 solid #808080; 
font-family : Arial ,Verdana, Helvetica, sans-serif; 
height : 20px; 
background-color : #EFEFEF; 
} 
TD {
color : #7F7F7F; 
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 12px; 
} 
.text {
color : #FEFEFE; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
} 
A {
color : #0E0E0E; 
text-decoration : none; 
} 
A:hover {
color : #B4B4B4; 
text-decoration : underline; 
} 
A.dwa {
	COLOR: #DFDFDF; TEXT-DECORATION: none; FONT-SIZE: 11px 
}
A.dwa:hover {
	COLOR: white; TEXT-DECORATION: none; FONT-SIZE: 11px
}
A.menu {
	COLOR: #EEEEEE; TEXT-DECORATION: none; FONT-SIZE: 11px 
}
A.menu:hover {
	COLOR: #FFFFFF; TEXT-DECORATION: none; FONT-SIZE: 11px
}
A.trzy {
	COLOR: white; TEXT-DECORATION: none; FONT-SIZE: 11px 
}
A.trzy:hover {
	COLOR: black; TEXT-DECORATION: none; FONT-SIZE: 11px
}
A.me {
	COLOR: #7A7A7A; TEXT-DECORATION: none; FONT-SIZE: 10px 
}
A.me:hover {
	COLOR: #FF8000; TEXT-DECORATION: none; FONT-SIZE: 10px
}
A.maly {
	COLOR: #808080; TEXT-DECORATION: none; FONT-SIZE: 9px 
}
A.maly:hover {
	COLOR: black; TEXT-DECORATION: none; FONT-SIZE: 9px
}
.maly2 {
	FONT-SIZE: 7.5pt; COLOR: #595959; font-family : Arial, Verdana; 
}
P {
line-height : 14px; 
margin : 2px 7px; 
padding-bottom : 2px; 
padding-top : 2px; 
} 
.tekst {
color : #2d2d2d; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
} 
.tekst2 {
color : #2d2d2d; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 11px; 
} 
.topbar {
color : #909090; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 9px; 
} 
.tytmen {
color : #ffffff; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 10px; 
} 
.stopka {
color : #EFEFEF; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 9px; 
} 
.stopka2 {
color : #696969; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 9px; 
} 
.tytul {
color : #2d2d2d; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 12px; 
} 
.reg {
color : #3F3F3F; 
font-family : Arial, Verdana, Helvetica, sans-serif; 
font-size : 12px; 
} 
.tytul2 {
color : #2d2d2d; 
font-family : Verdana, Arial, Helvetica, sans-serif; 
font-size : 15px; 
} 
.tab {
color : #666699; 
font-family : Arial, Helvetica, sans-serif; 
font-size : 10px; 
margin-bottom : 3px; 
margin-top : 0; 
padding-bottom : 3px; 
padding-top : 0; 
text-align : center; 
text-transform : uppercase; 
}